.eventInputContainer{
    -fx-background-color:white;
    -fx-alignment:center;
    -fx-max-width:350;
    -fx-padding:20 20 5 20;
    -fx-border-radius:5;
    -fx-background-radius: 5px;
}
.image-container{
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.image-container:hover{
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.image-preview:hover{
    -fx-cursor: hand;
}
.success{
    -fx-color:green;
    -fx-font-size:22px;
}
.error{
    -fx-color:red;
    -fx-font-size:22px;
}

