/* Event card student */
.event-card {
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 20, 0.2, 0, 6);
    -fx-pref-width: 310;
    -fx-overflow: hidden;
}

.event-image {
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-smooth: true;
    -fx-overflow: hidden;
}

.event-image Image {
    -fx-border-radius: 16;
}

.event-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #111827;
}

.event-meta {
    -fx-font-size: 13px;
    -fx-text-fill: #4B5563;
}

.event-attendees {
    -fx-font-size: 13px;
    -fx-text-fill: #374151;
}

.event-description {
    -fx-font-size: 13px;
    -fx-text-fill: #6B7280;
}

.event-button {
    -fx-background-color: #2563EB;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 5 10;
}

.event-button:hover {
    -fx-background-color: #1D4ED8;
    -fx-cursor: hand;
}

/* Category Badges */
.category-badge {
    -fx-background-radius: 20;
    -fx-padding: 5 12;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 4, 0, 0, 1);
}

.category-academic {
    -fx-background-color: #4f46e5;
}

/* Blue */
.category-art {
    -fx-background-color: #d946ef;
}

/* Pink/Magenta */
.category-sport {
    -fx-background-color: #ea580c;
}

/* Orange */
.category-tech {
    -fx-background-color: #0891b2;
}

/* Cyan/Teal */
.category-entertainment {
    -fx-background-color: #e11d48;
}

/* Red */

.category-default {
    -fx-background-color: #64748b;
}

/* Event action style */
.eventInputContainer {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-max-width: 350;
    -fx-padding: 20 20 5 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5px;
}

.image-container {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.image-container:hover {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.image-preview:hover {
    -fx-cursor: hand;
}

.success {
    -fx-text-fill: green;
    -fx-font-size: 22px;
}

.error {
    -fx-text-fill: red;
    -fx-font-size: 16px;
}

/* Organizer Event Card */
.event-card-org {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.06), 8, 0, 0, 2);
}

.event-title-org {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.badge {
    -fx-background-color: lightblue;
    -fx-padding: 5 8;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.icon-button {
    -fx-text-fill: black;
}